.header {
    position: fixed;
    top: 0;
    left: 0;
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: url("../images/bg_bar.png");
    color: white;
    z-index: 9999;
}
.subheader{
    position: fixed;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 40px;;
    left: 15.5%;
    height: 40px;
    width: 69%;
    background: url("../images/bg_bar.png");
    color: white;
    z-index: 998;
    gap: 20px;
}
.subheader .nav{
    
    display: flex;
    gap: 20px;
}
.subheader .nav div{
    cursor: pointer;
    font-size: large;
}
.header-logo {
    width: 50px;
    height: auto;
    margin-right: 20px;
}

.header-title {
    margin-left: 18%;
    font-size: 24px;
    font-weight: bold;

}