@import url("servantCard.css");
@import url("header.css");
@import url("fonts.css");
@import url("servantList.css");
@import url("servantCreate.css");
@import url("masterCard.css");
@import url("skill.css");
@import url("noblePhantasm.css");
@import url("query.css");

body {
    /* background-color: hsl(225deg 15% 18% / 90%); */
    background-image: url("../images/background.jpg"); 
    background-size: cover;
    background-attachment: fixed;
}



.main-window {
    width: 70%;
    margin: auto;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: hsl(225deg 15% 18% / 90%);
}

.contract {
    display: flex;
    width: 100%;
    height: 20vh;

    justify-content: center;
    align-items: center;
}

.servant {
    flex: 8;
    border: 1px solid black;
    border-radius: 5px;
}

.master {
    flex: 1;
    border: 1px solid black;
    border-radius: 5px;
}